
.input-wrap  {
    margin: .4rem;
    display: flex;
    flex-direction: column;
}

.search input, select {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

.search .date {
    display: flex;
}

.transaksi button {
    margin: .4rem;
    
}


@media screen and (max-width: 940px) {
    .search .container {
        grid-template-columns: 1fr;
    }

    .search-col-2 {
        grid-template-columns: 1fr;
    }

    .search .right {
        max-width: 100%;
    }

    .search form {
        width: 100%;
    }

    .search .date {
        flex-direction: column;
    }
}

