.footer {
  width: 100%;
  padding: 2rem 0;
  background-color: #095266;
  color: #fff;
}

.footer h3 {
  font-family:'Times New Roman', Times, serif
}

.footer h6 {
  font-family: 'Times New Roman', Times, serif;
  align-items: center;
}
.footer .top, .bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.footer .social {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.footer .icon {
 color: var(--primary-light);
}

@media screen and (max-width: 1140px) {
  .footer ul {
      flex-direction: column;
  }
}